.searchHint {
  padding: 4px 6px 8px 6px;
  background-color: var(--plate-color);
  border-radius: 8px;
  margin-right: 8px;
  text-decoration: none;
  &__title {
    background: linear-gradient(93deg, #DA15B8 4.93%, #8D06CC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
      cursor: pointer;
      background: linear-gradient(93deg,  var(--key-color-dark) 4.93%, #DA15B8 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__separator {
    margin-right: 10px;
  }
  &:hover {
    background-color: white;
  }
}
